# Copy this file to the Git repository and rename it ".gitignore".
# Lines starting with '#' are treated as comments.

# User scripts:
*.bat

# LaTeX temporary files:
*.log
*.aux
*.bbl
*.blg
*.tex.undo
*.tex.bak
*.~te
*.$te
*.DVX
*.DDF
*.synctex.gz
*.fdb_latexmk
*.fls
*.out
*.toc
*.lof
*.lot
*.idx
*.ilg
*.ind

*.dvi
*.ps
